<p id="notice"><%= notice %></p>

<h3>Task</h3>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @task.title %></h5>
    <p class="card-text"><%= @task.description %></p>
    <p>Status: <%= @task.status %></p>
    <p>Assignee: <%= @task.assignee %></p>
    <% if @task.image%>
      <%=image_tag @task.image.attachment_url , style: 'height:15vw;width:25vw;margin-bottom:20px'%>
    <% end %>
    <% if @task.parent_id %>
      <p>
        <strong>Parent:</strong>
        <%= @task.parent_id %>
      </p>
    <% end %>
    <div class="card-text">
      <%= link_to 'Edit', edit_task_url(@task), class: "btn btn-primary" %>
      <%= link_to 'Back', tasks_path, class: "btn btn-info" %>
      <%= link_to 'Generate PDF', "#{task_path}.pdf", class: "btn btn-outline-info" %>

    </div>
  </div>
</div>


<% if !@task.parent_id %>
<div class="card mt-3">
  <div class="card-body">
    <h5>Sub tasks</h5>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scopr="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col" class="text-right">action</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @sub_tasks.each do |task| %>
          <tr>
            <td><%= task.title %></td>
            <td><%= task.description %></td>
            <td><%= task.status %></td>
            <!--<td><%= link_to 'Show', task, class: "btn" %></td>-->
            <td>
              <div class="text-right">
                <% if task.status == "pending" %>
                  <%= link_to 'Mark as done', mark_as_done_task_path(task), method: :post , class: "btn btn-success"%>
                <% end%>
                <%= link_to 'Edit', edit_task_url(task), class: "btn btn-info ml-2" %><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger ml-2" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<% if !@task.parent_id %>
<div class="card mt-3">
  <div class="card-body">
    <%= form_with url: sub_tasks_task_path(id: @task), method: :post, local: true do |form| %>
      <h5>Add Sub-Task</h5>
      <div class="field">
        <%= form.label :title %>
        <div class="col-sm-4">
          <%= form.text_field :title, class: "form-control" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :description %>
        <div class="col-sm-4">
        <%= form.text_field :description, class: "form-control" %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<div>
<% end %>