<h1>Welcome!</h1>
<% if current_user %>
  <%= current_user.email %>
  <%= link_to 'Tasks', tasks_path %>
  <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'sign up', new_user_registration_path %>
  <%= link_to 'sign in', new_user_session_path %>
<% end %>


